body{

    align-items: center;
    justify-content: center;
    text-align: center;
    overflow-x: hidden;
    background-color: #e7c7c7;
}
.container{
     display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    flex-wrap: wrap;
    max-width: 1650px;
}

img{
    width: 300px;
    height: 300px;
    margin: 10px;
    padding: 1px;
    border: 0.5px inline;
    border-radius: 50px;
    box-shadow: 10px 10px 10px bisque;
    max-width: 100%;
    object-fit: cover;

}

.title {
  font-size: 48px;
  font-weight: 800;
  letter-spacing: 4px;
  text-transform: uppercase;
  margin: 40px 0 30px;
  color: #333;
  position: relative;
  text-shadow: 2px 2px 10px rgba(0, 0, 0, 0.15);
  margin: auto;
  font-style: italic;
  line-height: 40px;
  font-weight: bolder;
  color: white;
  text-shadow: 5px 5px black;
}

.title::after {
  content: "";
  display: block;
  width: 100%;
  height: 4px;
  background: bisque;
  margin: 15px auto 0;
  border-radius: 2px;
}
